#twitter-widget {
  li {
    .link:before {
      @extend .icomoon;
      color: white;
      content: '\e603';
    }
  }
  .img-container {
    $collapsed: 150px;
    $expanded: 600px;

    display: block;
    margin-top: 5px;
    margin-left: 25px;
    a {
      display: inline-block;
      overflow: hidden;
      max-height: $collapsed;
      transition: max-height 0.5s ease;
      border: 10px solid rgba(0, 0, 0, 0.3);
      border-radius: 40px;

      &:hover {
        max-height: $expanded;
        img {
          top: 0;
        }
      }
      img {
        height: $expanded;
        position: relative;
        top: - ($expanded / 2) + ($collapsed / 2);
        transition: top 0.5s ease;
      }
    }
  }
}