@import url(http://fonts.googleapis.com/css?family=Lilita+One|Droid+Sans);

$footer-bg: #08352D;

html {
  overflow-x: hidden;
  body {
    padding: 0;
    margin: 0;
    font-family: 'Droid Sans', sans-serif;
    background-color: $footer-bg;
  }
}

header {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Lilita One', cursive;
  position: relative;
  h1 {
    margin: 0;
    font-size: 5em;
    font-weight: normal;
    text-align: center;
  }
  p {
    margin: 0;
    margin-top: -10px;
    text-align: center;
    a {
      $base-color: #08352D;
      font-weight: normal;
      text-transform: uppercase;
      text-decoration: none;
      color: $base-color;
      margin: 0 20px;
      &:hover {
        color: lighten($base-color, 20%);
      }
      &:after {
        content: '!';
      }
    }
  }
}

section {
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  @media screen and (min-width: 1200px) {
    flex-flow: row wrap;
  }

  article {

    // Responsiveness
    $small: 400px;
    position: relative;
    flex-grow: 1;
    display: block;
    min-width: 50%;
    @media screen and (max-width: $small) {
      text-align: center;
      font-size: 1em;
    }
    // Different column arrangements
    @for $i from 3 through 10 {
      @media screen and (min-width: 1800px + (($i - 3) * 400px)) {
        min-width: 100% / $i;
        font-size: (($i + 1em) / 4);
        &#bio {
          flex-grow: $i;
        }
      }
    }

    // General
    font-size: 1.2em;
    color: white;
    h2 {
      margin-top: 0;
      text-decoration: underline;
      font-size: 2em;
    }
    // Link colors
    &.link > a a, &:not(.link) a {
      $link-color: #ccccff;
      color: $link-color;
      &:hover {
        color: lighten($link-color, 20%);
      }
    }

    // Link or plain style tiles
    margin: 0;
    padding: 50px;
    &.link {
      padding: 0;
      > a {
        color: white;
        display: block;
        padding: 50px;
        text-decoration: none;
      }
    }

    // Backgrounds
    $hover-diff: 3%;
    $colors: #D16223,
             #2D7A0B,
             #12847C,
             #CFB433,
             #A84F35,
             #9BC150;
    $i: 0;
    @each $color in $colors {
      $i: $i + 1;
      &:nth-child(#{length($colors)}n+#{$i}) {
        background-color: $color;
        border-top: 10px dashed rgba(0, 0, 0, 0.4);

        &:hover {
          background-color: lighten($color, $hover-diff);
        }
      }
    }

    // Tile specific styles
    &#bio {
      img {
        @media screen and (max-width: $small) {
          width: 100%;
        }
        float: right;
        width: 15%;
        min-width: 100px;
      }
    }

  }
}

footer {
  background-color: $footer-bg;
  margin: 0;
  padding: 30px;
  color: white;
  border-top: 10px dashed lighten($footer-bg, 10%);
}

@import 'github';