<!DOCTYPE html>

<html lang="en">
  <head>

    <title>Oliver Faircliff</title>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="//gravatar.com/avatar/6605be6c54e001a8d4a7395bc9868075?s=64">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- /build -->

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <header>
      <h1>Oliver Faircliff</h1>
      <p>
        <a href="http://github.com/olls" target="_blank">Github</a>
        <a href="http://twitter.com/olls96" target="_blank">Twitter</a>
      </p>
    </header>

    <section>

      <article id="bio">
        {{bio}}
      </article>
      <article id="hire_me">
        {{hire_me}}
      </article>
      <article class="feature" id="pycraft">
        {{pycraft}}
      </article>
      <article id="maze_interpreter">
        {{maze_interpreter}}
      </article>
      <article id="python_text_games_engine">
        {{python_text_games_engine}}
      </article>
      <article id="art">
        {{art}}
      </article>

      <article id="github-widget" class="feed">
        <h2><a href="http://github.com/olls" target="_blank">Github</a></h2>
      </article>
      <article id="twitter-widget" class="feed">
        <h2><a href="http://twitter.com/olls96" target="_blank">Twitter</a></h2>
      </article>

    </section>

    <footer>
      <p>Copyright &copy; Oliver Faircliff 2014</p>
    </footer>

    <!-- build:js js/main.min.js -->
    <script src="js/google.js"></script>
    <script src="js/pingdom.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/github.js"></script>
    <script src="js/twitter.js"></script>
    <script src="js/home.js"></script>
    <!-- /build -->
  </body>
</html>
